/* ==UserStyle==
@name			Wowhead
@author			Terijaki
@version		1.0.0
@namespace		cleanup
@preprocessor	default
==/UserStyle== */

@-moz-document domain("wowhead.com")
{
	/* Homepage Ads */
	#main > div:has(.blocks-video) {
		display:none!important;
	}
	
	/* Force Full Width*/
	#main #main-contents {
		width:100%;
		padding:0;
	}
	.sidebar-wrapper {
		display:none!important;
	}
	#page-content {
		padding-right:0!important;
	}
	
	/* More Ads */
	.premium-promo-row, [data-notification-type="discord"], #video-pos-body, .db-page-collection-tracker-cta
	{
		display:none!important
	}
	[href="/premium"], [data-id="premium"] {
		display:none!important;
	}
}
